/* @import "tailwindcss"; */
.ant-upload .ant-upload-select {
  width: 100% !important;
  .ant-upload {
    width: 100% !important;
  }
}
.ant-form-item {
  margin-bottom: 0px !important;
}
.ant-upload-wrapper .ant-upload-select {
  width: 100% !important;
}
/* Override toàn bộ font cho Ant Design và trang */
body,
.ant-typography,
.ant-btn,
.ant-form,
.ant-input,
.ant-select,
.ant-message {
  font-family: "Cousine", sans-serif;
}
body {
  background-color: #e5e5db;
}
